body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
}

header {
  color:blue;
  padding: 10px;
  margin: 0;
}

button {
  margin: 10px 0px 10px 10px;
}

#lista-tarefas {
  list-style: none;
  padding: 0;
  font-size: 20px;
  font-weight: 900;
}

#lista-tarefas li {
  width: fit-content;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  margin: 0px 10px 0px 10px;
}

#texto-tarefa {
  font-size: 20px;
}

.completed {
  text-decoration: line-through;
}

#controles {
  width: 60%;
  float:left;
}

#controles h2 {
  margin: 10px;
  color: blue
}

#controles input {
  margin: 0px 0px 0px 10px;
}

#controles button {
  background-color: blue;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-weight: 900;
}


#tarefas {
  width: 40%;
  float:left;
  background-color: blue;
  color: white;
  border-radius: 0px 30px 30px 0px;
}

#tarefas h2 {
  margin: 10px;
}

#tarefas button {
  background-color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  color: blue;
  width: 50px;
}

#tarefas p {
  margin: 10px;
}